{% extends '@App/base.html.twig' %}

{% block body %}
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active"> SHOPPING CART</li>
    </ul>
    <h3>  SHOPPING CART [ <small>{{ app.session.get('cart')|length }} Item(s) </small>]<a href="{{ path('home_page') }}" class="btn btn-large pull-right">
            <i class="icon-arrow-left"></i> Continue Shopping </a></h3>
    <hr class="soft"/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Tax</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% if app.session.get('cart')|length >0 %}
            {% for key, product in app.session.get('cart') %}
                {% if product.id|length %}
                    <tr>
                        <td> <img width="60" src="{{ asset('themes/my_images/'~product.product.image) }}" alt=""/></td>
                        <td>{{ product.product.title }}<br/></td>
                        <td>
                            <div class="input-append">
                                <input class="span1" style="max-width:34px" placeholder="{{ product.quantity }}" id="appendedInputButtons" size="16" type="text">

                                <a href="{{ path('session_clear',{'id':key}) }}">
                                    <button class="btn btn-danger" type="button">
                                        <i class="icon-remove icon-white"></i></button>
                                </a>
                            </div>
                        </td>
                        <td>{{ product.price }} &euro;</td>
                        <td>
                              {#  {{ product.promotion.discount* product.price|number_format(2,'.',' ') }} &euro; #}
                            
                        </td>
                        <td>-</td>
                        <td>{{ product.product.subtotal|number_format(2,'.',' ') }}</td>
                    </tr>
                 {% endif %}
            {% endfor %}
        {% endif %}

       
        <tr>
            <td colspan="6" style="text-align:right"><strong>TOTAL </strong></td>
            <td class="label label-important" style="display:block"> <strong>
                </strong><strong>  {{ app.session.get('total')|number_format(2,'.',' ') }} </strong>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('home_page') }}" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
    <a href="{{ path('add_order') }}" class="btn btn-large pull-right">Buy Now ! <i class="icon-arrow-right"></i></a>

    {% endblock %}
    



