{% extends '@App/base.html.twig' %}

{% block body %}
     {% if app.session.get('cart')|length >0 %}
         <p>Products:</p>
         <p>======================================================================</p>
        {% for product in app.session.get('cart') %}
            {% if product.id|length %}
                <p>Product name :{{ product.title }}
                    <span><a href="{{ path('session_clear',{'id':product.id}) }}">   Remove X</a></span>
                </p>
                <p>Price: {{ product.price }}</p>
                <p>Quantity: {{ product.quantity }}</p>
                {% if product.promotion is not null %}
                    <p>Discount : <strong>{{ product.promotion.discount }} %</strong>
                {% endif %}
                    Product total :<strong> {{ product.subtotal|number_format(2,'.',' ') }}</strong>
                </p>
            {% endif %}
            <p>======================================================================</p>
        {% endfor %}
         <p>======================</p>
         <p>Total: <strong>{{ app.session.get('total')|number_format(2,'.',' ') }}</strong> </p>
         <p>======================</p>
         <p> <a href="{{ path('product_list') }}">&#60;&#60; Continue shopping</a>
             || <a href="{{ path('add_order') }}">Buy now &#62;&#62;</a></p>
    {% else %}
       <h2>No products in your cart ! </h2>
    {% endif %}

{% endblock %}

