{% extends '@basic/base.html.twig' %}

{% block title %}
    <title>Edit user-Online Shop</title>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    <div class="span11">
        {{ include('@Shop/Default/admin_menu.html.twig') }}
        <ul class="breadcrumb">
            <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
            <li class="active">Edit user</li>
        </ul>
        <h2>Edit User</h2>
        <div class="well">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
            <a class="btn btn-large btn-default" href="{{ path('my_profile',{'id':user.id}) }}">Cancel</a>
            <input class="btn btn-large btn-warning" type="submit" value="Edit !">
            {{ form_end(edit_form) }}

        <a href="{{ path('my_profile',{'id':user.id}) }}">&larr; Back to user profile </a>
        </div>
    </div>
{% endblock %}