{% extends '@basic/base.html.twig' %}
{% block carousel %}

{% endblock %}
{% block body %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
            <li class="active">Registration</li>
        </ul>
        <h3> Registration</h3>
        <div class="well">

            <h4>Your personal information</h4>
            {% form_theme form with 'forms/customize_form.html.twig' %}

                {{ form_start(form) }}
                    {{ form_row(form.username,{'help':' Username must be 3 or more symbols !'}) }}
                    {{ form_row(form.fullName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    
                    <p><sup>*</sup> Required field</p>

                    {{ form_row(form.submit, { 'label': 'Register !' }) }}
                {{ form_end(form) }}






        </div>
    </div>

{% endblock %}