{% extends '@basic/base.html.twig' %}
{% block carousel %}

{% endblock %}
{% block body %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
            <li class="active">Registration</li>
        </ul>
        <h2> Registration</h2>
        <div class="well">

                {{ form_start(form) }}
                   <p>Required field &nbsp;<sup style="color: red">*</sup> </p>
                    {{ form_row(form.username,{'help':' Username must be 3 or more symbols !'}) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.address.city) }}
                    {{ form_row(form.address.shipAddress) }}
                    {{ form_row(form.address.phoneNumber) }}

                   <input class="btn btn-large btn-success" type="submit" value="Register !">
                {{ form_end(form) }}

        </div>
    </div>

{% endblock %}