{% extends '@App/base.html.twig' %}

 {% block sidebar %}

 {% endblock %}

{% block body %}
<div class="span11">
    <ul class="breadcrumb">
        <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
        <li class="active">Category show</li>
    </ul>
    {{ include('@Shop/Default/admin_menu.html.twig') }}
    <h2>Show Category</h2>

    <table class="table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productCategory.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td><strong>{{ productCategory.name }}</strong> </td>
            </tr>
        </tbody>
    </table>

            
            <a class="btn  btn-warning" href="{{ path('category_edit', { 'id': productCategory.id }) }}">Edit !</a>
            <a class="btn btn-default" href="#">Cancel </a>

            {{ form_start(delete_form) }}
                <input class="btn  btn-danger" type="submit" value="Delete !">
            {{ form_end(delete_form) }}

    <a href="{{ path('category_index') }}">Back to the list</a>
</div>
{% endblock %}
