{% extends '@App/base.html.twig' %}

{% block title %}
    <title>Edit product-Online Shop</title>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    
    <div class="span11">
        {{ include('@Shop/Default/admin_menu.html.twig') }}
        <ul class="breadcrumb">
            <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
            <li class="active">Edit product</li>
        </ul>

        <h2>Edit Product</h2>
        <div class="well">
            <h3>{{ product.product.title }}</h3>
            <p>{{ product.product.description }}</p>
            <hr class="soft"/>
            {{ form_start(form) }}
            {{ form_widget(form) }}
                <a class="btn btn-large btn-default" href="{{ path('home_page') }}">Cancel</a>
                <input class="btn btn-large btn-success" type="submit" value="Edit !">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}